torch==1.8.1
sentencepiece
datasets 
transformers==4.5.1
wikipedia==1.4.0
rank_bm25
corpy
tensorflow-gpu==1.14.0
deeppavlov
git+https://github.com/deepmipt/bert.git@feat/multi_gpu
Flask==1.1.2
scipy==1.5.4