torch==1.8.1
numpy==1.18.0
nltk==3.4.5
sentencepiece==0.1.95
transformers==4.5.1
wikipedia==1.4.0
rank_bm25==0.2.1
corpy==0.2.4
tensorflow-gpu==1.14.0
deeppavlov==0.14.1
git+https://github.com/deepmipt/bert.git@feat/multi_gpu
Flask==1.1.2
scipy==1.5.4
